body {
  background-color: #e5e5e5;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.links-nav {
  font-weight: 600;
  font-size: 16px;
  line-height: 0, 666;

  letter-spacing: 0.02em;

  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
